.container {
	background-color: dimgray;
    box-shadow:  0px 0px 8px 0px rgba(0,0,0,0.65);
    opacity: 0.7;
    border-radius: 3px;
	color: white;
    text-align: center; 
    padding: 10px 4px;
    width: 10em;
	margin: 0 auto;	
  
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ededed;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-size:15px;
	font-weight:bold;
	padding:3px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    margin: 5px 0 0 5px;
}

.myButton:hover {
	background-color:#dfdfdf;
}

.myButton:active {
	position:relative;
	top:1px;
}

label{
    font-size: 20px;
    font-family: sans-serif;
}

input {
    text-align: center;
    font-size: 2.5em;
	background-color: transparent;
    border-width: 0;
	width: 100%;
    color: whitesmoke;
}
